* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* para centralizar na tela o conteúdo */
body, html {
    height: 100%;
}

header {
    width: 100%;
}

body {
    background-color: rgb(255, 254, 215);
    background-image: url(./images/wallpaper_pixel_art.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: collum para centralizar um em cima do outro */
    flex-direction: column;
}

.nav-bar {
    width: 80%;
    background-color: rgba(56, 56, 56, 0.582);
    border-radius: 35px;
}

#title {
    text-align: center;
    color: white;
    padding: 20px;
    margin: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

#color-palette {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 2em;
}

#colors {
    display: flex;
}

.color {
    margin: 0.5em;
    padding: 2em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0.2em 0.2em 1em;
}

.color-fixed {
    background-color: rgb(0, 0, 0);
}

#btn-div {
    padding-left: 20%;
    display: flex;
    justify-content: center;
}

#button-random-color {
    background-color: rgb(69, 202, 102);
    color: black;
    border-radius: 10px;
    border: none;
    margin: 0.5em;
    padding: 1.5em;
    text-align: center;
    font-size: 16px;
    box-shadow: 0.5em 0.5em 1em;
}

#button-random-color:hover {
    background-color: rgb(66, 175, 92);
    color: white;
    border-radius: 10px;
    border: none;
    color: black;
    margin: 0.5em;
    padding: 1.5em;
    text-align: center;
    font-size: 16px;
    box-shadow: 0.5em 0.5em 1em;
    cursor:pointer;
}



#pixel-board {
    margin-top: 30px;
    background-color: black;
    border-radius: 5px;
    display: grid;
    /* 
        grid template repeat(how many blocks, block-size)
        1fr = 1 fraction unit
    */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.pixel {
    border: 1px solid black;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    background-color: white;
}
