* {
    /* zoom: 90%; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,Arial,"Helvetica Neue",Helvetica,sans-serif;;
}

/* para centralizar na tela o conteúdo */
body, html {
    height: 100%;
}
header {
    width: 80%;
}
body {
    background-image: url(./images/wallpaper_pixel_art.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* flex-direction: collum para centralizar um em cima do outro */
    flex-direction: column;
}

.nav-bar {
    text-align: center;
    width: 90%;
    background-color: rgba(56, 56, 56, 0.582);
    border-radius: 35px;
}
#title {
    font-size: 40px;
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 10px;
}

#colors {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#color-palette {
    display: flex;
    text-align: center;
}
.color {
    margin: 0.5em;
    height: 4em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
.color:hover {
    cursor: pointer;
}
.color:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    cursor:pointer;
}
.color-fixed {
    background-color: black;
}
#color-0 {
    background-color: #7E9953;
}
#color-1 {
    background-color: #D9A739;
}
#color-2 {
    background-color: #BD0808;
}
/* removes the default styling for the color input element*/
::-webkit-color-swatch {
    border: none;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
}
::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}
::-moz-focus-inner {
    padding: 0;
}
/* **** */

.btn-div {
    padding-left: 20%;
    display: flex;
    justify-content: center;
}
.btn {
    background-color: rgb(69, 202, 102);
    color: black;
    border-radius: 10px;
    border: none;
    margin: 0.5em;
    padding: 1.5em;
    text-align: center;
    font-size: 16px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
.btn:hover {
    background-color: rgb(66, 175, 92);
    cursor:pointer;
}
.btn:active {
    transform: scale(0.98);
    background-color: rgb(66, 175, 92);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    cursor:pointer;
}
#clear-board-container {
    width: 90%;
    background-color: rgba(56, 56, 56, 0.582);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    /* width: 100%; */
}
#clear-board {
    border-radius: 35px;
    padding: 1em 10em;
    margin: 10px;
}

#board-div {
    width: auto;
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 1.5em;
    background-color: rgba(56, 56, 56, 0.582);
    border-radius: 35px;
}
#pixel-board {
    background-color: rgba(56, 56, 56, 0.582);
    border-radius: 5px;
    display: grid;
    /* 
        grid template repeat(how many blocks, block-size)
        1fr = 1 fraction unit
        var(name, value) = creating dinamic variables in css
    */
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-rows: repeat(5, 1fr); */
    grid-template-columns: repeat(var(--columns, 5), 1fr);
    grid-template-rows: repeat(var(--rows, 5), 1fr);
}
.pixel {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    background-color: white;
    cursor: crosshair;
}
#size-label {    
    color: white;
    font-size: 25px;
    margin-bottom: 5px;
}
input[type=number] {
    border: 1px solid black;
    width: 150px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin-bottom: 1em;
}
#generate-board {
    margin-left: 40px;
    padding: 20px 50px;
}